*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;


}

.form{
    border: olive 1px solid;
    background: white;
    width: 30%;
    margin-top:100px;
    margin-left: 33%;
    height: 500px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

h2{
    margin-top: 10px;
    
}
h5{
    color: rgb(110, 106, 106);
   
}

input.btn{
    margin-top: 50px;
    width: 70%;
    /* margin-left: 30px; */
    border-radius: 10px;
    height: 30px;
    border-width:0vh;
    background-color: rgb(201, 201, 212);
    outline: none;
    
}
#email{
    margin-top: 400px;
}
#password{
    margin-top: 40px;
}

.btn{
    background-color: rgb(78, 78, 218);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover{
    background-color:rgb(63, 63, 184) ;
}
.hvnt{
    margin-top: 23%;
    text-decoration: underline;
}

#signup{
    margin-top: 5%;
}
#login{
    margin-top: 10%;
}